<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    {% if GiftItems %}
        <ul>
        {% for GiftItem in GiftItems %}
            <li><a href="{% url 'gift:item' GiftItem.id %}">{{ GiftItem.name }}</a></li>
        {% endfor %}
        </ul>
    {% else %}
        <p>No polls are available.</p>
    {% endif %}
</body>
</html>